{% extends 'base.html' %}

{% block title %} Restaurant | {{block.super}} {% endblock %}

{% block content %}
<div style="background: #F5F5F5;width: 700px;padding: 20px;margin-top: 30px">

	{% include 'restaurants/nav.html' %}
	<hr>
	
	{% if object_list %}
		<div style="overflow-x:scroll; height:500px;">

		{% for i in object_list %}
		<div class="row" style="background: white;width: 550;height: 120px;margin-top: 5px;padding: 5px">
			<div  class="col-3" >
				<div style="height: 110px;width: 90px;background: #DCDCDC;padding: 1px" align="center">
				Photo
				</div>
			</div>
			<div class="col-9" style="padding: 1px">
				<div class="row" style="padding: 1px"> 
					<p>
				 <b><a href="/restaurants/{{i.slug}}" style="color: purple">{{i.name}}</a></b>  <small> {{i.location}}</small>   
				 	</p>

				</div><hr>
				<div class="row" style="padding: 1px">
					   <p>created: {{i.timestamp}}</p> 
					   <p>updated: {{i.updated | timesince}} ago</p>
				</div>
			</div>
		</div>

		{% endfor %}

		</div>
	{% else %}
		<small>Not Found</small>

	{% endif %}

</div>

{% endblock %}