<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/hotels/create" style="background: purple;color: white;border-radius: 10%"><small>Create</small> <span class="sr-only">(current)</span></a>
      </li>
    </ul> -->
    <form class="form-inline my-2 my-lg-0" method="POST" style="vertical-align: center"> {% csrf_token %}
      <select class="custom-select" style="border-radius: 10%;border-color: purple;width: 120px;margin-right: 3px" name="order">
          <option selected value="ascending">ascending</option>
          <option value="descending">descending</option>
      </select>
      <select class="custom-select" style="border-radius: 10%;border-color: purple;width: 110px;margin-right: 3px" name="sort_by">
          <option selected value="updated">updated</option>
          <option value="timestamp">created</option>
          <option value="name">name</option>
          <option value="capcity">capcity</option>
      </select>
      <select class="custom-select" style="border-color: purple;margin-right: 3px;width: 85px;" name="filter_by">
        <option selected value="name">name</option>
        <option value="capcity">capcity</option>
        <option value="vehicle">vehicle</option>
      </select>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="border-color: purple;width: 185px" name="search" required="csrf_token">
      <!-- {{form.as_p}} -->
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background: purple;color: white;border-color: purple;margin-left: 2px;padding:6px 10px">Search</button>
      <br>
      
    </form>
  </div>
</nav>